SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://scorely_user:scorely_pass@db:5432/scorely_db
POSTGRES_DB=scorely_db
POSTGRES_USER=scorely_user
POSTGRES_PASSWORD=scorely_pass
CORS_ALLOWED_ORIGINS=http://localhost:3000
